@model FurnitureFun.Models.Order

@{
    ViewBag.Title = "Review Product and Order";

}
<div class="row">
    <div class="col-sm-4 shadowBox">
        <img src="~/Images/@Model.Furniture.ImageFileName" alt="@Model.Furniture.Name" class="img-responsive" />
        <p>@Model.Furniture.Name | @Model.Furniture.Price</p>
        <p> @Model.Furniture.Description</p>
    </div>


    <div class="col-sm-7">
        <h2> Ready to buy? </h2>
        <p> Please fill out and submit this form and we'll get your product ready for shipment.</p>

        @using (Html.BeginForm())
        {


            <div class="form-row">

                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Street, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StreetLine2, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.StreetLine2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StreetLine2, "", new { @class = "text-danger" })
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.City, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
          
                @Html.LabelFor(m => m.State, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
          
                @Html.LabelFor(m => m.Zip, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-row">
               <label> Credit Card Number </label> <input type="text" size="4" disabled />  <input type="text" size="4" disabled />  <input type="text" size="4" disabled />  <input type="text" size="4" disabled />
                <label> Three Digit Security Code </label> <input type="text" size="3" disabled />
            </div>
            <div class="form-row mr-md-auto">
                <label> Expiration Date </label>
                <select>
                    <option value="0">  </option>
                    <option value="1">JAN</option>
                    <option value="2">FEB</option>
                    <option value="3">MAR</option>
                    <option value="4">APR</option>
                    <option value="5">MAY</option>
                    <option value="6">JUN</option>
                    <option value="7">JUL</option>
                    <option value="8">AUG</option>
                    <option value="9">SEP</option>
                    <option value="10">OCT</option>
                    <option value="11">NOV</option>
                    <option value="12">DEC</option>
                </select>
                <select>
                    <option value="0">  </option>
                    @for (int i = DateTime.Today.Year; i < DateTime.Today.Year + 15; i++)
                    {
                        <option value="@i"> @i </option>

                    }
                </select>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="@Url.Action("Index")" class="btn btn-danger"> Back </a>
             <p class="text-info"> Credit card information has been disabled to ensure the user this is just a demo and it will not be stored.</p>



        }


    </div>
</div>