@model IEnumerable<FurnitureFun.Models.Order>

@{
    ViewBag.Title = "Pending Orders";
}

@if (TempData["message"] != null)
{
    <p class="alert alert-success">
        @TempData["message"]
    </p>

}
<h2>Orders Pending Response</h2>

<p>Welcome administrator.</p>
  
@if (Model.Count() ==0 )
{
    <p>There are no pending orders right now.</p>
    @Html.ActionLink("Feel free to add one by placing an order on the customer site.", "Index", "Home")
}
else if (Model != null)
{


<p>  The following orders have been placed.</p>
<p>  Please fulfill the order and then press "Completed" to clear it from the queue or to delete it if you need to. </p>
<p>  Also, you may update the order too. </p>

<div class="row">

    @foreach (var item in Model)
    {

    <div class="col-sm-3 shadowBox">
        @Html.Partial("_ViewOrder", item)
        @Html.ActionLink("Fulfill Order", "Delete", new { id = item.OrderId }, new { @class = "btn btn-warning" }) |

        @Html.ActionLink("Edit Order", "Edit", new { id = item.OrderId })
    </div>

    
   }
</div>
}
                                                                                                                   
